#
# Board-specific Kconfig for B-L4S5I-IOT01A (L4R5 workaround)
#

if ARCH_BOARD_CUSTOM

config B_L4S5I_IOT01A_MTD_FLASH
	bool "MTD driver for external 64Mbit flash memory"
	default n
	select STM32L4_OCTOSPI
	select MTD
	select MTD_MX25RXX
	select FS_LITTLEFS
	---help---
		Configures an MTD device for use with the onboard MX25R6435F
		external flash using OctoSPI interface.

endif # ARCH_BOARD_CUSTOM
